<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    {{>header}}
    <p>Entrez la ville de votre choix ci dessous / Type in the city of your choosing below</p>

    <div class="main-content">
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <div class="result-container">
            <div class="img-container"></div>
            <h2 id="message-1">

            </h2>
            <p id="message-2">

            </p>
        </div>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>