<header>
    <h1>{{title}}</h1>

    <div>
        <a href="/" class="{{#if active.home}}active{{/if}}"><span>Météo</span></a>
        <a href="/about" class="{{#if active.about}}active{{/if}}"><span>À propos</span></a>
    </div>
</header>