<header>
    <h1>{{title}}</h1>

    <div>
        <a href="/" class="{{#if active.home}}active{{/if}}"><span>Weather</span></a>
        <a href="/about" class="{{#if active.about}}active{{/if}}"><span>About</span></a>
    </div>
</header>